@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,200);
body {
  background-color: #3498db;
}

#loader-container {
 
  width: 180px;
  height: 180px;
  color: black;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ff0037;
  border-radius: 50%;
  -webkit-animation: borderScale 1s infinite ease-in-out;
  animation: borderScale 1s infinite ease-in-out;
}

#loadingText {
  font-family: 'Michroma', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes borderScale {
  0% {
    border: 5px solid white;
  }
  50% {
    border: 25px solid #ff0037;
  }
  100% {
    border: 5px solid white;
  }
}

@keyframes borderScale {
  0% {
    border: 5px solid white;
  }
  50% {
    border: 25px solid #ff0037;
  }
  100% {
    border: 5px solid white;
  }
}